.logo {
    -webkit-animation: flicker 2s infinite;
    text-align:center;
    margin-top:3em;
    font-family:'Lato', sans-serif;
    font-size:3em;
}

@-webkit-keyframes flicker
{
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}
